<div class="wrapper" ng-controller="CompareControllers_compareCtrl">

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">GitHub Compare</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul>
        <li class="has-form">
          <div class="row">
            <div class="large-12 columns">
              <input type="text" name="repo1_url" ng-model="form.repo1.url">
            </div>
          </div>
        </li>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-12 columns">
              <input type="text" name="repo2_url" ng-model="form.repo2.url">
            </div>
          </div>
        </li>
        <li class="has-form">
          <button ng-click="form.submit()" class="button">Compare</button>
        </li>
      </ul>
    </section>
  </nav>

  <div class="row"  style="margin-top: 24px;">
    <div class="column medium medium-12">
      <table>
        <tr>
          <th>Repository</th>
          <td><a ng-href="{{repo1.html_url}}">{{repo1.full_name}}</a></td>
          <td><a ng-href="{{repo2.html_url}}">{{repo2.full_name}}</a></td>
        </tr>
        <tr>
          <th>Stars</th>
          <td><a ng-href="{{repo1.html_url}}/stargazers">{{repo1.stargazers_count}}</a></td>
          <td><a ng-href="{{repo2.html_url}}/stargazers">{{repo2.stargazers_count}}</a></td>
        </tr>
        <tr>
          <th>Forks</th>
          <td><a ng-href="{{repo1.html_url}}/network">{{repo1.forks_count}}</a></td>
          <td><a ng-href="{{repo2.html_url}}/network">{{repo2.forks_count}}</a></td>
        </tr>
        <tr>
          <th>Issues</th>
          <td><a ng-href="{{repo1.html_url}}/issues">{{repo1.open_issues_count}}</a></td>
          <td><a ng-href="{{repo2.html_url}}/issues">{{repo2.open_issues_count}}</a></td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>{{repo1.tags.total_count}}</td>
          <td>{{repo2.tags.total_count}}</td>
        </tr>
        <tr>
          <th>Releases</th>
          <td>{{repo1.releases.total_count}}</td>
          <td>{{repo2.releases.total_count}}</td>
        </tr>
        <tr>
          <th>Commits</th>
          <td>{{repo1.commits.total_count}}</td>
          <td>{{repo2.commits.total_count}}</td>
        </tr>
        <tr>
          <th>Languages</th>
          <td><language-list data="repo1.languages"/></td>
          <td><language-list data="repo2.languages"/></td>
        </tr>
        <tr>
          <th>Contributor Count</th>
          <td>{{repo1.contributors.total_count}}</td>
          <td>{{repo2.contributors.total_count}}</td>
        </tr>
        <tr>
          <th>Date created</th>
          <td>{{repo1.created_at | amCalendar}}</td>
          <td>{{repo2.created_at | amCalendar}}</td>
        </tr>
        <tr>
          <th>Last updated</th>
          <td><span am-time-ago="repo1.pushed_at"></span></td>
          <td><span am-time-ago="repo2.pushed_at"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
