<div id="homepage-hero" class="row" ng-controller="App_searchCtrl">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-6 columns">
        <h1>Github Compare</h1>
        <br>
        <h3>Compare two Github repositories for great profit!</h3>
      </div>
    </div>
    <div class="row">
      <form name="form" novalidate>
        <div class="medium-6 columns">
          <label>
            Repository 1:
            <input type="text" name="repo1" ng-model="form.repo1" required ng-pattern="/^https://github.com/[\w\d\-]+/[\w\d\-]+$/">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>
            Repository 2:
            <input type="text" name="repo2" ng-model="form.repo2" required ng-pattern="/^https://github.com/[\w\d\-]+/[\w\d\-]+$/">
          </label>
        </div>
        <div class="medium-8 columns">
          <input class="button round" type="submit" value="Compare" ng-click="compare(form)" ng-disabled="form.$invalid">
        </div>
      </form>
    </div>
  </div>
</div>
